body{
    margin: 0px;
    font-family: 'Poppins', sans-serif; 
        
}
.orange-highlight{
    color: orange;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgrey;
}

.huss{
    width: 40%;
    float: left;
    margin-left:5%;
}
.huss img{
    width: 100%;
    
    padding-left: 17%;}
.banner{
    background-image: url(  "images/top-banner.png");
   background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 50px;
}
.link-button{
    background-image:linear-gradient(90deg,lightsalmon,tomato);
    text-decoration: none;
    border-radius: 3px;
    padding: 6px 20px;
    color: white;
    font-weight: 700;
}
.mama{
    width: 40%;
    float: left;
    padding-left: 4%;
    background-color: white;
}
.mama img{
    width: 100%;
}
.second{
    background-image: url("images/sec2bg.png");
    background-repeat: no-repeat;
    background-position: right;

}
.shadow{
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
    height: 80%;
}
.third{
    padding-left: 4%;
    background-image: url(images/sec3bg.png);
    background-repeat: no-repeat;
    background-position:left;
}
#dag1{
    border-left: 5px solid;
    border-image: linear-gradient(90deg,lightsalmon,tomato);
    border-image-slice: 1;
}
#dag2{
    border-left: 5px  solid;
    border-image: linear-gradient( 180deg,blue,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 13px;
}
